In [ ]:
import matplotlib.pyplot as pnt

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/balanced_star_classification.csv')

In [ ]:
df.head()

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID
0,1.237661e+18,214.355825,44.050000,20.85312,20.32917,20.16683,20.23059,20.19608,3699,301,5,159,6.818560e+18,QSO,1.699303,6056,56092,402
1,1.237666e+18,225.125393,20.703084,22.37632,21.52462,20.42064,19.67633,19.32634,4670,301,1,183,6.644031e+18,GALAXY,0.546942,5901,56039,347
2,1.237646e+18,57.047052,0.084304,19.46874,18.18264,17.59063,17.26436,16.95295,109,301,4,149,1.721602e+18,GALAXY,0.036167,1529,52930,366
3,1.237680e+18,330.719415,23.094128,20.60075,19.98951,19.52595,19.51756,19.25776,8110,301,3,51,8.534395e+18,QSO,2.277347,7580,56955,266
4,1.237657e+18,356.903643,-0.006114,22.69802,20.02274,18.72961,18.20568,17.93726,2728,301,3,392,1.675403e+18,STAR,-0.000504,1488,52965,231

In [ ]:
df['class'].value_counts()

QSO       18961
GALAXY    18961
STAR      18961
Name: class, dtype: int64

In [ ]:
df.corr(method='pearson')

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,redshift,plate,MJD,fiber_ID
obj_ID,1.000000,0.028654,-0.284672,0.012996,0.013557,0.129307,0.127957,0.013017,1.000000,NaN,-0.071591,0.074031,0.211242,0.061232,0.211241,0.228071,0.061364
alpha,0.028654,1.000000,0.125071,-0.001244,-0.001392,0.016389,0.018627,-0.001233,0.028654,NaN,0.000414,-0.188558,0.043697,0.020478,0.043696,0.067877,0.039043
delta,-0.284672,0.125071,1.000000,0.003761,0.005891,0.027149,0.032680,0.006730,-0.284676,NaN,0.061599,-0.177356,0.148834,0.050641,0.148834,0.154458,0.041134
u,0.012996,-0.001244,0.003761,1.000000,0.999646,0.040545,0.033655,0.998912,0.012995,NaN,0.004575,-0.010163,0.018918,0.010257,0.018917,0.019406,0.012048
g,0.013557,-0.001392,0.005891,0.999646,1.000000,0.046574,0.041652,0.999515,0.013557,NaN,0.004359,-0.010738,0.026590,0.016881,0.026590,0.026360,0.013303
r,0.129307,0.016389,0.027149,0.040545,0.046574,1.000000,0.958390,0.042455,0.129306,NaN,-0.000503,-0.026259,0.591652,0.415337,0.591650,0.605694,0.204334
i,0.127957,0.018627,0.032680,0.033655,0.041652,0.958390,1.000000,0.044329,0.127956,NaN,-0.004966,-0.029580,0.604692,0.481474,0.604690,0.617539,0.203016
z,0.013017,-0.001233,0.006730,0.998912,0.999515,0.042455,0.044329,1.000000,0.013017,NaN,0.003783,-0.011379,0.028202,0.024255,0.028202,0.027618,0.012760
run_ID,1.000000,0.028654,-0.284676,0.012995,0.013557,0.129306,0.127956,0.013017,1.000000,NaN,-0.071691,0.074032,0.211242,0.061233,0.211242,0.228073,0.061351
rerun_ID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cam_col,-0.071591,0.000414,0.061599,0.004575,0.004359,-0.000503,-0.004966,0.003783,-0.071691,NaN,1.000000,-0.021937,-0.016590,-0.017640,-0.016593,-0.025293,0.118539
field_ID,0.074031,-0.188558,-0.177356,-0.010163,-0.010738,-0.026259,-0.029580,-0.011379,0.074032,NaN,-0.021937,1.000000,-0.088455,-0.023542,-0.088455,-0.103425,-0.009468
spec_obj_ID,0.211242,0.043697,0.148834,0.018918,0.026590,0.591652,0.604692,0.028202,0.211242,NaN,-0.016590,-0.088455,1.000000,0.368160,1.000000,0.970211,0.232654
redshift,0.061232,0.020478,0.050641,0.010257,0.016881,0.415337,0.481474,0.024255,0.061233,NaN,-0.017640,-0.023542,0.368160,1.000000,0.368159,0.368339,0.127095
plate,0.211241,0.043696,0.148834,0.018917,0.026590,0.591650,0.604690,0.028202,0.211242,NaN,-0.016593,-0.088455,1.000000,0.368159,1.000000,0.970211,0.232634
MJD,0.228071,0.067877,0.154458,0.019406,0.026360,0.605694,0.617539,0.027618,0.228073,NaN,-0.025293,-0.103425,0.970211,0.368339,0.970211,1.000000,0.245092
fiber_ID,0.061364,0.039043,0.041134,0.012048,0.013303,0.204334,0.203016,0.012760,0.061351,NaN,0.118539,-0.009468,0.232654,0.127095,0.232634,0.245092,1.000000

In [ ]:
# empty data frame
balanced_df = pd.DataFrame(columns = df.columns)

In [ ]:
label_data = df['class'].value_counts()

In [ ]:
for label_categories in list(label_data.index):
  sample_label = df.loc[df['class'] == label_categories]
  length = len(sample_label)
  length = min(length,18961)
  balanced_df = balanced_df.append(sample_label.iloc[0:length])

In [ ]:
len(balanced_df)

56883

In [ ]:
balanced_df = balanced_df.sample(frac=1, random_state=42)

NameError: ignored

In [ ]:
balanced_df.to_csv('/content/balanced_star_classification.csv', index=False)

In [ ]:
barplot = balanced_df['class'].value_counts()

NameError: ignored

In [ ]:
galaxy = list(barplot.index)

NameError: ignored

In [ ]:
values = list(barplot.values)

In [ ]:
pnt.bar(galaxy,values,width=0.4,color='maroon')
pnt.xlabel('Class')
pnt.ylabel('Samples of class')
pnt.title('Balanced Dataset')

NameError: ignored